:host {
  display: block;

  .title {
    color: var(--color-primary-contrast);
    background-color: var(--color-danger);
    font-weight: 600;
    display: inline-block;
    padding: 0.5rem;
  }
  .analytics-container {
    background-color: var(--color-primary-contrast);
    padding: 1.5rem;
    border-radius: var(--radius-lg);
    box-shadow: 0px 2px 4px 0px #00000014;
  }
}
