:root {
  --color-primary: #1976d2;
  --color-primary-contrast: #ffffff;
  --color-body-bg: #f5f7fa;
  --color-dark: #212121;
  --color-light-grey: #E0E0E0;
  --color-danger: #D32F2F;
  --color-success: #388E3C;
  --color-warning: #F57C00;
  --color-neutral: #757575;
  --color-inactive: #fbfbfb;
  --color-badge-risk: #FFEBEE;
  --color-badge-warning: #FFF3E0;
  
  --radius-lg: 8px;
  --radius-md: 4px;
  
}